@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------------common css------------ */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {

    list-style-type: none;
    padding: 0;
    margin: 0;

}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    vertical-align: middle;
    display: block;
}

.container {
    max-width: 1320;
    margin: 0 auto;
}

:root {
    --blue__color: #1C1E53;
    --white__color: #FFFFFF;
    --black__color: #282938;
    --popins: "Poppins", sans-serif;
    --yellow__color: #FCD980;

}
body{
    font-family: var(--popins);
}

/* -------------common css------------ */

/* -------------nav start------------ */

.navbar {
    background: var(--blue__color);
}

.nav-link:hover {
    color: var(--white__color);
    transition: all linear .4s;

}

.Contact_btn {
    padding: 14px 46px;
    background: transparent;
    border-radius: 41px;
    border: solid var(--white__color)1px;
    color: var(--white__color);
}

.Contact_btn:hover {
    background: var(--yellow__color);
    transition: all linear.4S;
}



/* -------------nav end------------ */

/* ------banner part start----- */

#bannerPart{
    background: var(--blue__color);
    padding: 184px 0 192px;
}

.banner_title{
    color: var(--white__color);
    font-size: 54px;
    font-weight: 600;
}

.banner_summry{
    color: var(--white__color);
    font-size: 16px;
    font-weight: 500;
    opacity: .7;
}

.view_work{
    padding: 12px 46px;
    background: transparent;
    border-radius: 41px;
    border: solid var(--white__color)1px;
    color: var(--white__color);
    font-size: 16px;
    font-weight: 500;
}

.view_work:hover{
    background: var(--yellow__color);
    transition: all linear.4S;
}

.view_pricing{
    color: var(--white__color);
    font-size: 16px;
    font-weight: 500;
}


/* ------banner part end----- */

/* --------work_part start--------- */
#workPart{
    padding: 128px 0 128px;
}

.Heading_title{
    font-size: 48px;
    font-weight: 600;
    color: var(--black__color);
    padding: 16px 0;
}

.Heading_summry{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    width: 405px;
}

.card_title{
    
    font-size: 32px;
    font-weight: 500;
    color: var(--black__color);
    padding: 16px 0 0;
}

.card_summry{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    width: 303px;
}
/* --------work_part end--------- */